<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <link rel="stylesheet" href="{{site.baseurl}}font-awesome-4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{site.baseurl}}bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{site.baseurl}}bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
    <script src="{{site.baseurl}}javascripts/jquery-2.1.4.min.js"></script>
    <script src="{{site.baseurl}}bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}stylesheets/styles.css" />
    <link rel="stylesheet" href="{{site.baseurl}}stylesheets/github-light.css" />
    <link rel="stylesheet" href="{{site.baseurl}}stylesheets/zenolithe.css" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
