<header>
    <h1>Quick Start</h1>
    <ul class="menu nav nav-list well">
        <li class="{% if page.menu == 'index' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/">Installation</a></li>
        <li class="{% if page.menu == 'configuration' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/configuration.html">Configuration</a></li>
        <li class="{% if page.menu == 'first-html-page' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/first-html-page.html">First HTML page</a></li>
        <li class="{% if page.menu == 'first-controlled-page' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/first-controlled-page.html">First controlled page</a></li>
        <li class="{% if page.menu == 'first-controller' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/first-controller.html">First controller</a></li>
        <li class="{% if page.menu == 'extending-samples' %}active{% endif %}"><a href="{{site.baseurl}}en/quick-start/extending-samples.html">Extending the samples</a></li>
    </ul>
</header>
