@CHARSET "UTF-8";

body, div, p, h1, ul, li {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 5px 0 0 0;
    width: 1024px;
}

#banner {
    float: left;
}

#banner-center {
    float: left;
    position: relative;
    width: 824px;
    padding: 0.5em 1.5em;
    margin: 10px 0 10px 160px;
}

.logo {
    float: left;
    width: 120px;
    margin: 10px 0 0 40px;
    position: fixed;
    top: 20px;
}

#left-column {
    width: 140px;
    padding-left: 20px;
    position: fixed;
    top: 120px;
    z-index: -1;
}

#main {
    float: left;
    width: 822px;
    padding: 20px 20px;
    margin: 10px 0 10px 160px;
    min-height: 300px;
}

#edited-domain {
    float: left;
    width: 852px;
    padding: 5px;
    margin: 0px 0 0px 160px;
}

#footer {
    width: 824px;
    margin: 0 0 0 160px;
    padding: 20px;
    float: left;
}
