<IfModule mod_rewrite.c>
  RewriteEngine on

  # Rewrite URLs in the form 'index.php?u=x'.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?u=$1 [L,QSA]
</IfModule>
