header ul.menu{border-color:#D3D3D3;padding:0px;margin-bottom:15px;}
header ul.menu.nav > li > a:focus, header ul.menu.nav > li > a:hover,header ul.menu li.active a{background:#E8E8E8 none repeat scroll 0% 0%;color:#262626;}
header ul.menu li.active a,header ul.menu li.active a:focus,header ul.menu li.active a:hover{background:#2E6DA4 none repeat scroll 0% 0%;color:#fff;}
