<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body>
    
        {% include page-top.html %}
        
        <div class="wrapper">
        
            <header>
                <h1>Zenolithe</h1>
                <p>Simple, lightweight but powerfull PHP framework (MVC2, IoC, DI)</p>
                <p class="view"><a href="https://github.com/numabilis/zenolithe">View the Project on GitHub <small>numabilis/zenolithe</small></a></p>
                <ul>
                    <li><a href="https://github.com/numabilis/zenolithe/zipball/master">Download <strong>ZIP File</strong></a></li>
                    <li><a href="https://github.com/numabilis/zenolithe/tarball/master">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="https://github.com/numabilis/zenolithe">View On <strong>GitHub</strong></a></li>
                </ul>
            </header>
            
            <div class="page-content">
                <section>
                    {{ content }}
                </section>
            </div>
            
            <footer>
                <p>This project is maintained by <a href="https://github.com/numabilis">numabilis</a></p>
                <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
            </footer>
            
        </div>
        
        {% include page-footer.html %}
        
        <script src="javascripts/scale.fix.js"></script>
        
    </body>
    
</html>